body{
    background-color: aquamarine;
}

h1{
    display: flex;
    justify-content: center;
}

button{
    border: 2px;
    border-color: black;
    border-radius: 2px;
    background-color: grey;
}

footer{
    display: flex;
    justify-content: center;
}