
h1{
    display: flex;
    justify-content: center;
}

button{
    border: 2px;
    border-color: black;
    border-radius: 2px;
    background-color: grey;
}

footer{
    display: flex;
    justify-content: center;
}

.pageune{
    background-color: cornflowerblue;
    height: 1792px;
    width: 828px;
}

.pagedeux{
    background-color: yellow;
    height: 1792px;
    width: 828px;
}

.pagetrois{
    background-color: red;
    height: 1792px;
    width: 828px;
}